/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


.checked {
  color: orange;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
/* background: rgba(187, 175, 107, 0.5); */
font-family: 'Roboto', sans-serif;
}
/* 
font: 72px
60px
36px
 */


/******************************************
/* LAYOUT
/*******************************************/


.logo-cover{
       
          padding: 0;
          display: block;
          margin: 0 auto;
          max-height: 100%;
          max-width: 100%;
     

}
header{
     display: flex;  
     padding: 2%;
     position: relative;
     margin-bottom: 600px;
}

.header-text{
     width: 50%;
     position: absolute;
     top: 50px;
     left: 50px;

     
}

.header-text-container{
     width: 100%;
     /* display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center; */
}
.header-text h1{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 350%;
     font-weight: 900;
     max-width: 500px;
     padding-top: 0;
}

.grey{
     color: #6B7280;
}
.title{
     font-family: 'Roboto', sans-serif;
     color: #a660b3;
     text-shadow: 1px 1px rgb(38 16 52);
 
}

.inputForm{
     margin-top: 25px;
}
.inputForm input{
     padding: 6px 10px;
     border-color: #D1D5DB;
     border-radius: 6px;
}

.inputForm button{
     background: #a660b3;
     color: white;
     padding: 6px 14px;
     border: none;
     border-radius: 6px;
}


.rating{
     margin-top: 20px;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 80%;
     max-width: 400px;
     
}

.review{
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     

}

.reviewText{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: flex-start;
     font-weight: 700;
     font-size: 18px;
     

}

.reviewName{
     font-size: 15px;
}

.userImage {
     width: 40px;
     border-radius: 100%;
     border: 1px solid red;
     margin-right: 10px;
}


.header-image{
     width: 50%;
     border-radius: 5%;
     position: absolute;
     left: 600px;
     top: -120px;
     z-index: 1;
}

.header-image img{
     border-radius: 5%;
     width: 100%;
}
footer {

}

/* .header-image:fullscreen{
     left: 1100px;
} */
/* @media only screen and (min-width: 1100px){
     .header-image {
               left: 650px;
               
               
          }
     .header-text-container{
          width: 80%;
     }
} */

/* @media only screen and (min-height: 200px){
     .header-image img {
     
               position: static;
     
          }
} */

@media only screen and (max-width: 900px){
     .logo-cover{
          
     }
     header{
          flex-direction: column;
         
     }

     .header-text {
               position: static;
               width: 100%;
               padding: 2%;
     }

     /* .header-text h1 {
          width: 100%;

          } */
     .header-image {
               width: 100%;
               position: static;
          } 

     .header-image img {
          
          width: 100%;
     }

     
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



