/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


.checked {
  color: orange;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
/* background: rgba(187, 175, 107, 0.5); */
font-family: 'Roboto', sans-serif;
overflow-x: hidden;
}
/* 
font: 72px
60px
36px
 */


/******************************************
/* LAYOUT
/*******************************************/


.logo-cover{
       
          padding: 0;
          display: block;
          margin: 0 auto;
          max-height: 100%;
          max-width: 100%;
     

}
header{
     display: flex;  
     padding: 2%;
     position: relative;
     margin-bottom: 600px;
     
     
}

.header-text{
     width: 50%;
     position: absolute;
     top: 50px;
     left: 50px;

     
}

.header-text-container{
     width: 100%;
     
}
.header-text h1{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 350%;
     font-weight: 900;
     max-width: 500px;
     padding-top: 0;
}

.grey{
     color: #6B7280;
}
.title{
     font-family: 'Roboto', sans-serif;
     color: #a660b3;
     text-shadow: 1px 1px rgb(38 16 52);
 
}

.rating{
     margin-top: 20px;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 400px;
     min-width: 260px;
     flex-wrap: wrap;
     
}

.review{
     display: flex;
     flex-direction: row;
     align-items: center;
     

}

.reviewText{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: flex-start;
     font-weight: 700;
     font-size: 18px;
     

}

.reviewName{
     font-size: 15px;
     margin-top: 10px;
}

.userImage {
     width: 50px;
     height: 50px;
     border-radius: 100%;
     border: 1px solid red;
     margin-right: 10px;
}


.header-image{
     width: 50%;
     border-radius: 5%;
     position: absolute;
     left: 550px;
     top: -120px;
     
     
}
.header-image img {
     border-radius: 5%;
     width: 100%;
     
}


.section{
     display: flex;
     margin-top: 60px;
     margin-bottom: 60px;
     align-items: center;
}

.main-section-image{
     width: 50%;
     margin: 20px;
     border-radius: 2%;
}

.sectionText{
     margin: 50px 5px;
}

.sectionText h2{
     font-size: 30px;
}

.rightImage{
     margin-left: 65px;
}

.leftImage{
     margin-right: 65px;
}

.section hr{
     color: #6B7280;
     margin-top: 30px;
     margin-bottom: 30px;
}

.featuredReview{
     background-color: rgba(186, 104, 200, 0.8);
     color: white;
     padding: 60px;
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-bottom: 100px;
}

.featuredReviewText{
     text-align: center;
     font-weight: 700;
     font-size: 26px;
     margin-bottom: 40px;
}

.featuredReviewUser{
     display: flex;
     align-items: center;
     font-weight: 500;
     font-size: 17px;
     
}


.box {
    
     position: relative;
     background-color: #f5ecf7;
     padding: 20px;
     width: 90%;
     height: auto;
     border: 1px solid purple;
     text-align: center;
     margin: 0 auto;
     z-index: -2;
}


.box-design-1,
.box-design-2{
     content: "";
     position: absolute;
     bottom: 0;
     height: 0;
     z-index: -1;
     
}

.box-design-1 {
     left: 0;
     border-left: 0 solid transparent;
     border-right: 150px solid transparent;
     border-bottom: 50px solid rgba(186, 104, 200, 0.05);
}

.box-design-2 {
     right: 0;
     border-left: 100px solid transparent;
     border-right: 0 solid transparent;
     border-bottom: 180px solid rgba(186, 104, 200, 0.1);
          
}

.footer-content{
     width: 100%;
     margin-top: 60px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     
}

.userList {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    
     
}

.userList .userImage {
     margin: 15px;

}
.footerInvite{
     margin-top: 40px;
     font-weight: 700;
     font-size: 36px;

}

.inputForm {
     margin-top: 25px;
     margin-bottom: 25px;

    
}

.emailInput {
     padding: 6px 10px;
     border-color: #D1D5DB;
     border-radius: 6px;
     width: 50%;
     background-color: white;
     transition: border-color 0.3s;
}


.emailInput:focus {
     outline: 1px solid rgb(186, 104, 200);
     border: 1px solid rgb(186, 104, 200);
}
.submitButton {
     background: #a660b3;
     color: white;
     padding: 6px 14px;
     border: none;
     border-radius: 6px;
     cursor: pointer;
}

.submitButton:hover {
     background: #87437a;
}


@media only screen and (min-width: 1250px){
     body{
          width: 100vw;
          height: 100vh;
     }
     .header-image {
               left: 700px;
               
               
               
          }
     .header-text-container{
          width: 90%;
     }
}


@media only screen and (max-width: 900px){
   
     header{
          flex-direction: column;
          margin-bottom: 20px;
         
     }
 
     .header-text {
               position: static;
               width: 100%;
               padding: 2%;
     }

     .header-text h1 {
          max-width: 100%;
          margin-right: 0;
          text-align: center;

          }
     .header-image {
               width: 100%;
               position: static;
          } 

     .header-image img {
          
          width: 100%;
     }

     .leftImage{
          flex-direction: column-reverse;
          margin: 10px;
     }

     .rightImage{
          flex-direction: column;
          margin: 10px;
     }
     
     .main-section-image{
          width: 100%;
     }

     .box{
          /* height: 500px; */
     }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



